﻿@model Nop.Plugin.Widgets.Swiper.Models.PublicInfoModel
@{
    Layout = "";

    Html.AddScriptParts(ResourceLocation.Head, "~/Plugins/Widgets.Swiper/Scripts/swiper-bundle.js");
    Html.AddCssFileParts("~/Plugins/Widgets.Swiper/Content/nivoslider/swiper-bundle.css");
    Html.AddCssFileParts("~/Plugins/Widgets.Swiper/Content/nivoslider/themes/custom/custom.css");
}

<div class="swiper-container">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide">
            <img src="@Model.Picture1Url" alt="banner1">
        </div>
        <div class="swiper-slide">
            <img src="@Model.Picture2Url" alt="banner2">
        </div>
        <div class="swiper-slide">
            <img src="@Model.Picture3Url" alt="banner3">
        </div>
    </div>

    <!-- If we need pagination -->
    <div class="swiper-pagination"></div>

    <!-- If we need navigation buttons -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>


</div>

<script>
    var mySwiper = new Swiper('.swiper-container', {
        // Optional parameters
        direction: 'horizontal',
        loop: true,

        // If we need pagination
        pagination: {
            el: '.swiper-pagination',
        },

        // Navigation arrows
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },

        // And if we need scrollbar
        scrollbar: {
            el: '.swiper-scrollbar',
        },
    })
</script>